body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url("https://cdn.hvlgroup.com/hudsonvalleylighting/media/green%20paper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size:35px;
  font-weight:bold;
}

h1 {
    color: goldenrod;
    font-size:70px;
}

#message-el {
    font-style:italic;
}
button{
  color:#016f32;
  width: 150px;
  height:30px;
  background-color:goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight:bold;
  border:none;
  border-radius:2px;
  margin-right: 3px;
  margin-left: 3px;
}
aside{
    border: solid;
    border-color: burlywood;
    border-width: 6px;
    border-radius: 8px;
    margin-top: 5%;
    float: none;
    padding-left: 15px;
    width: 37%;
    margin-left: 30%;
    font-size: 20px;
    color: yellow;

}
#notice{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: grey;

}